/* General container styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white; /* Background is white */
    font-family: 'Arial', sans-serif;
  }
  
  /* Form box styling */
  .login-box {
    background: white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd; /* Thin stroke for border */
  }
  
  /* Header styling */
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Input fields */
  input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f8ff; /* Light blue background for inputs */
  }
  
  /* Button styling */
  button {
    width: auto; /* Adjusted width */
    padding: 12px 20px; /* Added padding for width consistency */
    background-color: #006386; /* Updated button color */
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .login-box {
        padding: 30px 15px;
    }
  }
  